<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new Pet</title>
  </head>
  <body>
    <h1>Add a new pet</h1>
    <form action="" method="post">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="name"
        value="<%= pet.name %>"
      />
      <input
        type="number"
        name="age"
        id="age"
        placeholder="age"
        value="<%= pet.age %>"
      />
      <input
        type="text"
        name="type"
        id="type"
        placeholder="type"
        value="<%= pet.type %>"
      />
      <button>Submit</button>
    </form>
  </body>
</html>
